// ---------------- Params mínimos para el subworkflow ----------------
params {
  modules_dir   = "${projectDir}/incliva_nextflow"   // donde está statistics_modules.nf
  outdir        = "${projectDir}/output"
  study_name    = "incliva_test"

  // contenedor base (tus scripts de Picard ya tiran de params.picard_img)
  container_global_stats = "docker://quay.io/biocontainers/samtools:1.18--h50ea8bc_1"
  picard_img    = "/Incliva/Sarek/Containers.Singularity/picard:3.4.0--hdfd78af_0"
}

// ---------------- Singularity ----------------
singularity.enabled  = true
singularity.cacheDir = "/Incliva/Sarek/Containers.Singularity"

// ---------------- Perfil con tu “delimitador” estilo Sarek ----------------
profiles {
  incliva_stats {
    process {
      executor = 'local'

      // Ajuste base escalando con reintentos
      cpus   = { 1 * task.attempt }
      memory = { 5.GB * task.attempt }
      time   = { 4.h * task.attempt }

      // Procesos ligeros
      withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX' {
        cpus = 1
        memory = 1.GB
      }

      // Básicos
      withName: 'FASTQC' {
        cpus = 2
        memory = 2.GB
      }
      withName: 'FASTP' {
        cpus = 4
        memory = 4.GB
      }

      // Alineamiento
      withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus = 8
        memory = 8.GB
      }

      // MarkDuplicates
      withName: 'GATK4_MARKDUPLICATES|GATK4SPARK_MARKDUPLICATES' {
        cpus = 4
        memory = 7.GB
      }

      // MultiQC
      withName: 'MULTIQC' {
        cpus = 2
        memory = 7.GB
      }

      // Labels genéricos (si tu pipeline los usa)
      withLabel: 'process_low'         { cpus = 2; memory = 4.GB }
      withLabel: 'process_medium'      { cpus = 4; memory = 7.GB }
      withLabel: 'process_high|process_high_memory' { cpus = 6; memory = 8.GB }

      // MOSDEPTH: thresholds que necesitas para Nt_100/250/500x
      withName: 'MOSDEPTH' {
        ext.args = "--thresholds 100,250,500"
      }

      // Recurso específico para tu módulo
      withName: 'GLOBAL_MAPPING_STATS' {
        container = params.container_global_stats
        cpus = 2
        memory = 3.GB
        time = '6h'
      }
    }
  }
}
